@model OrderResponse
@{Layout = "_Layout"; ViewBag.Title = "Order"; }
<h2>Order</h2>
<div>
    <table>
        <tbody>
            <tr>
                <td>
                    @Model.Order.Rate
                </td>
            </tr>
        </tbody>
    </table>
</div>
