@{
    Layout = "_Layout"; ViewBag.Title = "Tax Rate";
}

<div>
    <ul class="nav navbar-nav">
        <li><a asp-controller="Home" asp-action="TaxRate">Location Tax Rate Check</a></li>
        <li><a asp-controller="Home" asp-action="OrderRate">Order Rate Check</a></li>
    </ul>
</div>


