@model Order
@{
    Layout = "_Layout"; ViewBag.Title = "Tax Rate";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Rate</h2>
<form method="post" asp-controller="Home" asp-action="OrderTax">
    <label asp-for="ToZip"></label>
    <input asp-for="ToZip" />
    <label asp-for="ToState"></label>
    <input asp-for="ToState" />
    <label asp-for="ToCountry"></label>
    <input asp-for="ToCountry" />
    <label asp-for="Amount"></label>
    <input asp-for="Amount" />
    <label asp-for="FromStreet"></label>
    <input asp-for="FromStreet" />
    <label asp-for="FromZip"></label>
    <input asp-for="FromZip" />
    <label asp-for="FromState"></label>
    <input asp-for="FromState" />
    <label asp-for="FromCountry"></label>
    <input asp-for="FromCountry" />
    <input type="submit" formmethod="post" asp-controller="Home" asp-action="OrderTax" />
</form>